@model IEnumerable<VentasSistemasUni.Models.Producto>

@{
    ViewBag.Title = "GetTipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/JsEventos.js"></script>

<style>
    button {
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font: 12px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }

        button:hover {
            text-decoration: none;
        }

        button:active {
            position: relative;
            top: 1px;
        }
</style>

<h2>GetTipo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProducto.NombreTipoProducto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProducto.NombreTipoProducto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID })
            </td>
        </tr>
    }

</table>
